<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Settings.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway:900" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Posts" href="@Url.RouteUrl("AtomFeed")" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="header clear pad-top-40 pad-bottom-40">
                @Html.RouteLink(Settings.Title, routeName: "Home", routeValues: null, htmlAttributes: new { @class = "brand" })
            </div>
            @*@Html.Action("Menu", new { Controller = "Page", Action = "Menu" })*@
        </div>
    </div>
    <div class="container pad-top-40 pad-bottom-40">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Settings.Title</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>
