@model Piston.Models.Post
@{
    ViewBag.Title = Model.Title;
}

<div id="post">

    <h1>@Model.Title</h1>

    <p>By @Model.Author on @Model.Date.ToLongDateString()</p>

    <p class="post-meta">
        @foreach (var category in Model.Categories)
        {
            @Html.RouteLink(category, routeName: "Category", routeValues: new { category }, htmlAttributes: new { @class = "post-category" })
        }
        @foreach (var tag in Model.Tags)
        {
            @Html.RouteLink(tag, routeName: "Tag", routeValues: new { tag }, htmlAttributes: new { @class = "post-tag" })
        }
    </p>

    @Html.Raw(Model.Content)

</div>